html,body {
    margin: 0;
    width: 150%;
    height: 100%;
}
h1 {
    float: left;
    margin: 0;
    padding: 50px 0;
    width: 300px;
    height: 100%;
    background: #65A4FA;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
main {
    padding: 20px 320px;
}
h2 {
    margin: 20px 0;
    font-size: 30px;
}
h3,p{
	display: inline-block;
	font-size: 20px;
	font-family: Franklin;
	
}
p{
	margin-left:5px;
	margin-right:20px;
}
a:link {color:#ff0000;}
a:visited {color:#6600ff;}
a:hover {font-size:150%;}
a:active{font-family:fantasy}
a{text-decoration:none}